<div class="container-div">
  <div class="row">
    <div class="col">
      <mat-label style="display:block;">Company</mat-label>
      <mat-form-field style="width: 100%;">
        <mat-label>Select a Company</mat-label>
        <mat-select [(value)]="company">
          <mat-option value="flipkart">Flipkart</mat-option>
          <mat-option value="amazon">Amazon</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col">
      <mat-label style="display: block;">Upload Type</mat-label>
      <mat-form-field style="width: 100%;">
        <mat-label>Select a Type</mat-label>
        <mat-select [(value)]="uploadType">
          <mat-option value=order>Order</mat-option>
          <mat-option value="payment">Payment</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col">
      <button mat-raised-button color="primary" (click)="sendMessage()" style="margin-left: 120px; margin-top: 30px;">Select File</button>
    </div>
  </div>
</div>
